{%extends 'mainpage.html'%}
{%block content%}
<div class="wrapper">
    <form class="form-signin" method="post" action="">
        {%csrf_token%}
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="username" placeholder="User Name" required autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required />
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button><br><br>
        <a href="{%url 'registerpage'%}"><button class="btn btn2 btn-lg btn-primary btn-block">Create
                Account</button></a>
    </form>
</div>
{%endblock%}