{%extends 'mainpage.html'%}
{%block content%}
<canvas id="collisionCanvas"></canvas>
<canvas id="canvas1"></canvas>
<button onclick="showpopup()" id="set">
    <span class="material-symbols-outlined" id="settings">
        settings
    </span>
</button>

<div class="popup" id="popup">
    <p>Music Volume: <span id="musicvolume"></span></p>
    <input type="range" min="0" max="1" value="0.5" class="slider" id="slider" step="0.1"><br><br>
    <a href="{%url 'home'%}"><button class="button">Quit Game</button></a><br><br>
    <button class="button" onclick="closepopup()">Resume Game</button></a>
</div>
{%endblock%}